<section class="disclaimer sectionTitle">
	<div class="line">
		<div class="container">
			<div class="row">
				<h2><?= Language::getLabel("navigation.download");?></h2>
			</div>
		</div>
	</div>
</section>

<section class="download centerContent">
	<div class="container">
		<div class="row description centerContent">
			<h3><?= Language::getLabel("download.howto");?></h3>
			<p>
                <?= Language::getLabel("download.howtoDescription");?>
            </p>

			<h3><?= Language::getLabel("download.downloadit");?></h3>
			<p>
                <?= Language::getLabel("download.downloaditDescription");?>
            </p>

			<h3><?= Language::getLabel("download.after");?></h3>
			<p>
                <?= Language::getLabel("download.afterDescription");?>
            </p>
		</div>
	</div>
</section>