<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <button class='btn text-left btn-flat btn-info addFilter'>
                <span class='glyphicon glyphicon-plus'></span> Add Filter
            </button>
        </div>
    </div>
    <div class="col-md-8">
        <div id="container_filter">
            <div class="filterToClone">
                <div class="form-inline text-center" role="form">
                    <div class="form-group">
                        <select id="field" name="field" class="form-control noSelectize selectField">
                        </select>
                    </div>
                    <div class="form-group rules">
                        <select id="condition" name="condition" class="form-control noSelectize select selectCondition">
                            <option value="" selected><?= Language::getLabel('filter.filterRule'); ?></option>
                        </select>
                    </div>
                    <div class="form-group input">
                        <input type="text" name="value" placeholder="Valore" class="form-control" id="value">
                    </div>
                    <div class='form-group addFilterContainer'>
                        <button class='btn btn-flat btn-default hidden deleteFilter'><span
                                    class='glyphicon glyphicon-remove'></span></button>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <span>
            <div class="form-group">
                <button type="button" class="btn btn-flat btn-default"
                        id="filterReset">
                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;<?= Language::getLabel('filter.reset'); ?>
                </button>
                <button type="button" class="btn btn-success btn-flat"
                        id="filterData">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<?= Language::getLabel('filter.apply'); ?>
                </button>
            </div>
        </span>
    </div>
</div>
