<section class="disclaimer sectionTitle">
    <div class="line">
        <div class="container">
            <div class="row">
                <h2><?= Language::getLabel("navigation.login");?></h2>
            </div>
        </div>
    </div>
</section>
<p>&nbsp;</p>
<section class="login centerContent">
    <div class="container">
        <div id="loginbox"
             class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="pull-right">
                        <small> <a href="<?= Utils::getFriendlyUrl("login");?>">
                                <?= Language::getLabel("login.forgotpwd");?>
                            </a>
                        </small>
                    </div>
                    <div class="panel-title"><?= Language::getLabel("login.signin");?></div>
                </div>

                <div class="panel-body">

                    <?php if(!Auth::isTimerLocked()): ?>
                        <div id="login-alert" class="alert alert-danger col-sm-12 <?= $errorMessage == "" ? "hidden" : "" ?>"><?= $errorMessage; ?></div>
                        <form id="loginform"
                              action="<?= Utils::getFriendlyUrl("login");?>" name="loginform"
                              class="form-horizontal" method="post" role="form">

                            <div style="margin-bottom: 25px; margin-top: 25px;"
                                 class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                                <input id="btk_usr" type="text" class="form-control"
                                       name="btk_usr" placeholder="E-mail" value="" />
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i
                                        class="glyphicon glyphicon-lock"></i></span> <input
                                    id="btk_pwd" type="password" class="form-control"
                                    name="btk_pwd" placeholder="Password" value="" />
                            </div>

                            <?php if(Auth::haveToShowCaptcha()): ?>
                                <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
                                <script>
                                    var captchaResult = false;
                                    function verifyCaptcha(response){
                                        if(response) captchaResult = true;
                                    }
                                </script>
                                <div id="reCaptcha-align">
                                    <div name="response" class="g-recaptcha" data-callback="verifyCaptcha"
                                         data-sitekey="<?= Config::get("reCaptcha_public") ?>"></div>
                                </div>
                                <br>
                            <?php endif; ?>

                            <p id="form-validation-error" class="text-danger"></p>

                            <div class="input-group">
                                <div class="checkbox">
                                    <label> <input id="login-remember" type="checkbox" name="rememberme" value="1" /><?= Language::getLabel("login.rememberme");?>
                                    </label>
                                </div>
                            </div>

                            <div style="margin-top: 10px" class="form-group">
                                <div class="col-sm-12 controls">
                                    <input type="button" id="btn-login" class="btn btn-default" value="<?= Language::getLabel("login.login");?>" />

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid #888; padding-top: 15px;">
                                        <small>
                                            <a href="<?= Utils::getFriendlyUrl("registration");?>"><?= Language::getLabel("login.donthaveaccount");?></a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </form>
                    <?php else: ?>
                        <div id="login-alert" class="alert alert-danger col-sm-12">Too much login request. Wait some seconds</div>
                    <?php endif; ?>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style=" padding-top: 10px;">
                                <small>
                                    [User Privilege]<br/>
                                    User or Email: <b>boostackuser</b> or <b>user@boostack.com</b> - Password: <b>testing</b></a><hr/>
                                    [Admin Privilege]<br/>
                                    User or Email: <b>boostackadmin</b> or <b>admin@boostack.com</b> - Password: <b>testing</b></a><hr/>
                                    [SuperAdmin Privilege]<br/>
                                    User or Email: <b>boostacksuperadmin</b> or <b>superadmin@boostack.com</b> - Password: <b>testing</b></a><hr/>

                                    <button class="btn btn-xs showrawpassword" onclick="showPasswordBox(); return false;">SHOW RAW PASSWORD</button>
                                    <script>
                                        function showPasswordBox() {
                                            $(".passwordBox").slideToggle();
                                            return false;
                                        }
                                    </script>
                                    <div class="passwordBox" style="display: none;">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="overflow: scroll;">
                                                <p>Insert this password in table "boostack_user" in field "pwd":</p>
                                                <i><?php
                                                    echo (version_compare(PHP_VERSION, '5.5.0') >= 0)?password_hash('testing',PASSWORD_DEFAULT):hash("sha512", 'testing');
                                                    ?>
                                                </i>
                                            </div>
                                        </div>

                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>